@font-face {
  font-family: "Nimbus Sans";
  src: url("../../vendor/fonts/Nimbus/NimbusSanL-Reg.ttf") format("truetype"),
  url("../../vendor/fonts/Nimbus/NimbusSanL-Reg.woff") format("woff"),
  url("../../vendor/fonts/Nimbus/NimbusSanL-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nimbus Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
}



/* ШАПКА */
.header {
  padding-top: 20px;
  padding-bottom: 2vh;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header_hidden {
  display: none;
}

.logo {
  width: 105px;
  height: 31px;
  background-image: url(../../../../images/logo-black.png);
  background-size: cover;
}

.menu-button {
  font-size: 1.8rem;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
}



/* МЕНЮ */
.menu-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.menu-popup_hidden {
  display: none;
}

.fake-header {
  padding-top: 20px;
  padding-bottom: 2vh;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fake-logo {
  width: 105px;
  height: 31px;
  background-image: url(../../../../images/logo-black.png);
  background-size: cover;
}

.menu-close-button {
  font-size: 1.8rem;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
}

.menu {
  padding-top: 12px;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.menu-list {
  margin-top: 30px;
  margin-bottom: 20px;
  list-style: none;
}

.menu-list:first-of-type {
  margin-top: 0px;
}

.menu-list:last-of-type {
  margin-bottom: 0px;
}

.menu-list-element {
  margin-bottom: 10px;
}

.menu-list-element:last-of-type {
  margin-bottom: 0;
}

.menu-link {
  font-size: 3.6rem;
  line-height: 1.2;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

@media 
screen and (max-width: 359px), 
screen and (max-height: 580px) {
  .menu-list {
    margin-bottom: 0;
  }

  .menu-list-element {
    margin-bottom: 4px;
  }

  .menu-link {
    font-size: 2.8rem;
  }
}



/* ИЗДЕЛИЕ */
.main {
  padding-bottom: 10vh;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main_hidden {
  display: none;
}



/* об изделии */
.item {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.item-brand {
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.item-name {
  margin-bottom: 8px;
  font-size: 3.6rem;
  line-height: 1.2;
}

.item-image {
  margin-bottom: 10px;
  width: 92vw;
  height: 92vw;
  object-fit: contain;
}

.item-image_pendal {
  position: absolute;
  top: -11vh;
  z-index: -1;
  margin-bottom: 0;
  height: auto;
}

.item-fake-image {
  margin-bottom: 10px;
  width: 92vw;
  height: 92vw;
}

.item-description {
  font-size: 1.4rem;
  line-height: 1.2;
}



/* выбор материала, размера, плетения, стороны */
.select {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.select_material {
  margin-bottom: 30px;
}

.heading {
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex_space-between {
  margin-bottom: -20px;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 48px);
  grid-column-gap: 22px;
  grid-row-gap: 20px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label_gold {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 117px;
  height: 48px;
}

.label_silver {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 128px;
  height: 48px;
}

.label_bronze {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 116px;
  height: 48px;
}

.label_gold-475 {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 148px;
  height: 48px;
}

.label_rhodium {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 108px;
  height: 48px;
}

.label_brass {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 113px;
  height: 48px;
}

.label_size-round {
  width: 48px;
  height: 48px;
}

.label_size-oval {
  margin-bottom: 20px;
  width: 98px;
  height: 47px;
}

.label_netting {
  margin-right: 20px;
  width: 146px;
  height: 47px;
}

.label_side {
  margin-right: 20px;
  width: 106px;
  height: 47px;
}

.true-radio {
  position: absolute; 
  top: 0;
  left: 0;
  opacity: 0;
}

.fake-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
}

.fake-radio_gold {
  width: 117px;
  height: 48px;
  background-color: #F2C94C;
}

.fake-radio_silver {
  width: 128px;
  height: 48px;
  background-color: #BDBDBD;
}

.fake-radio_bronze {
  width: 116px;
  height: 48px;
  background-color: #F2A579;
}

.fake-radio_gold-475 {
  width: 148px;
  height: 48px;
  background-color: #F2C94C;
}

.fake-radio_rhodium {
  width: 108px;
  height: 48px;
  background-color: #CECEB9;
}

.fake-radio_brass {
  width: 113px;
  height: 48px;
  background-color: #BDBDBD;
}

.fake-radio_size-round {
  width: 48px;
  height: 48px;
  border: 1px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: transparent;
}

.fake-radio_size-oval {
  width: 98px;
  height: 47px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: transparent;
}

.fake-radio_netting {
  width: 146px;
  height: 47px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: transparent;
}

.fake-radio_side {
  width: 106px;
  height: 47px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: transparent;
}

.fake-radio::before {
  position: absolute;
  display: flex;
  content: "";
  background-position: center;
  background-size: cover;
  opacity: 0;
}

.fake-radio_gold::before {
  width: 117px;
  height: 48px;
  background-image: url(./images/material-gold-cross.svg);
}

.fake-radio_silver::before {
  width: 128px;
  height: 48px;
  background-image: url(./images/material-silver-cross.svg);
}

.fake-radio_bronze::before {
  width: 116px;
  height: 48px;
  background-image: url(./images/material-bronze-cross.svg);
}

.fake-radio_gold-475::before {
  width: 148px;
  height: 48px;
  background-image: url(./images/material-gold-475-cross.svg);
}

.fake-radio_rhodium::before {
  width: 108px;
  height: 48px;
  background-image: url(./images/material-rhodium-cross.svg);
}

.fake-radio_brass::before {
  width: 113px;
  height: 48px;
  background-image: url(./images/material-brass-cross.svg);
}

.fake-radio_size-round::before {
  width: 48px;
  height: 48px;
  background-image: url(./images/size-round-cross.svg);
}

.fake-radio_size-oval::before {
  width: 98px;
  height: 47px;
  background-image: url(./images/size-oval-cross.svg);
}

.fake-radio_netting::before {
  width: 146px;
  height: 47px;
  background-image: url(./images/netting-cross.svg);
}

.fake-radio_side::before {
  width: 106px;
  height: 47px;
  background-image: url(./images/side-cross.svg);
}

.true-radio:checked + 
.fake-radio::before {
  opacity: 1;
}

.radio-text {
  font-size: 1.6rem;
  line-height: 1.2;
  text-transform: uppercase;
}



/* кастомный размер */
.custom-size {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.custom-size-heading {
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.custom-size-text {
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.2;
}

.custom-size-button {
  width: 249px;
  height: 55px;
  font-size: 1.8rem;
  line-height: 1.2;
  border: 1px solid black;
  border-radius: 41px;
  outline: none;
  background-color: #FAFAFA;
}



/* оформление заказа */
.order {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.price {
  margin-bottom: 16px;
  font-size: 3.6rem;
  line-height: 1.2;
}

.buy-button {
  width: 171px;
  height: 55px;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #FAFAFA;
  border: none;
  border-radius: 41px;
  outline: none;
  background-color: black;
}