@font-face {
  font-family: "Nimbus Sans";
  src: url("../../vendor/fonts/Nimbus/NimbusSanL-Reg.ttf") format("truetype"),
  url("../../vendor/fonts/Nimbus/NimbusSanL-Reg.woff") format("woff"),
  url("../../vendor/fonts/Nimbus/NimbusSanL-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nimbus Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
}



/* ШАПКА */
.header {
  padding-top: 20px;
  padding-bottom: 2vh;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header_hidden {
  display: none;
}

.logo {
  width: 105px;
  height: 31px;
  background-image: url(../../../images/logo-black.png);
  background-size: cover;
}

.menu-button {
  font-size: 1.8rem;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
}



/* МЕНЮ */
.menu-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.menu-popup_hidden {
  display: none;
}

.fake-header {
  padding-top: 20px;
  padding-bottom: 2vh;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fake-logo {
  width: 105px;
  height: 31px;
  background-image: url(../../../images/logo-black.png);
  background-size: cover;
}

.menu-close-button {
  font-size: 1.8rem;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
}

.menu {
  padding-top: 12px;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.menu-list {
  margin-top: 30px;
  margin-bottom: 20px;
  list-style: none;
}

.menu-list:first-of-type {
  margin-top: 0px;
}

.menu-list:last-of-type {
  margin-bottom: 0px;
}

.menu-list-element {
  margin-bottom: 10px;
}

.menu-list-element:last-of-type {
  margin-bottom: 0;
}

.menu-link {
  font-size: 3.6rem;
  line-height: 1.2;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

@media 
screen and (max-width: 359px), 
screen and (max-height: 580px) {
  .menu-list {
    margin-bottom: 0;
  }

  .menu-list-element {
    margin-bottom: 4px;
  }

  .menu-link {
    font-size: 2.8rem;
  }
}



/* ОСНОВНОЙ РАЗДЕЛ */
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main_hidden {
  display: none;
}

.page-heading {
  margin-bottom: 27px;
  margin-left: 4vw;
  font-size: 1.6rem;
  line-height: 1.2;
  text-transform: uppercase;
}

/* фильтры */
.filters {
  padding-bottom: 20px;
  padding-left: 4vw;
  padding-right: 4vw;
  height: 42px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: auto;
  list-style: none;
}

.filter {
  margin-right: 30px;
  width: min-content;
}

.label {
  position: relative;
}

.true-radio {
  position: absolute; 
  top: 0;
  left: 0;
  opacity: 0;
}

.fake-radio {
  width: auto;
  font-size: 1.6rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.fake-radio::before {
  position: absolute;
  top: -14px;
  left: -12px;
  height: 38px;
  display: flex;
  content: "";
  opacity: 0;
  border: 1px solid black;
  border-radius: 50%;
  box-sizing: border-box;
}

.fake-radio_all::before {
  width: 57px;
}

.fake-radio_my::before {
  width: 62px;
}

.fake-radio_rings::before {
  width: 90px;
}

.fake-radio_bracelets::before {
  width: 111px;
  border-radius: 50%;
}

.fake-radio_pendals::before {
  width: 113px;
}

.fake-radio_earrings::before {
  width: 88px;
}

.fake-radio_hairpins::before {
  width: 100px;
}

.true-radio:checked + 
.fake-radio::before {
  opacity: 1;
}

/* карточки */
.cards {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: dense;
  grid-gap: 0;
}

.card_square {
  position: relative;
  width: 50vw;
  height: 50vw;
  grid-column: span 1;
  grid-row: span 1;
}

.card_vertical {
  position: relative;
  width: 50vw;
  height: 100vw;
  grid-column: span 1;
  grid-row: span 2;
}

.card_horizontal {
  position: relative;
  width: 100vw;
  height: 50vw;
  grid-column: span 2;
  grid-row: span 1;
}

.card-image {
  position: absolute;
  top: 0;
  z-index: 1;
}

.card-image_square {
  width: 50vw;
  height: 50vw;
}

.card-image_vertical {
  width: 50vw;
  height: 100vw;
}

.card-image_horizontal {
  width: 100vw;
  height: 50vw;
}

.card-info {
  position: absolute;
  bottom: 18px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  color: black;
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.card-name {
  font-size: 1.4rem;
  line-height: 1.2;
}

.card-material {
  font-size: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.card-price {
  font-size: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.card-like {
  position: absolute;
  bottom: 24px;
  right: 20px;
  z-index: 3;
  width: 19px;
  height: 16px;
  border: none;
  outline: none;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 374px) {
  .card-title {
    flex-direction: column;
  }
}