.categorys__heading {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0;
  font-size: 36px;
  line-height: 43,2px;
  text-transform: uppercase;
}

@media screen and (max-width: 374px) {
  .categorys__heading {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 38px;
  }
}