@import url(./__margins/menu__margins.css);
@import url(./__horizontal-alignment/menu__horizontal-alignment.css);
@import url(./__logo/menu__logo.css);
@import url(./__close-button/menu__close-button.css);
@import url(./__navigation/menu__navigation.css);
@import url(./__list/menu__list.css);
@import url(./__list-element/menu__list-element.css);
@import url(./__link/menu__link.css);
@import url(./_hidden/menu_hidden.css);

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  width: 100vw;
  height: 100vh;
}